@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top px-4">
            <h1 style="color:#FFF"><img src="rogo.png" style="height:3.2rem">Sethpython</h1>
            <div><a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .top {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #232946, #eebbc3);
    width:100%;
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    align-items: center;
}
</style>
