.prompt {
    position: absolute;
    bottom: 0;
    margin: 0;
    background-color: #2D2D2D;
    color: #9AA0A6;
    width: 100vw;
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    max-width: 200px;
}
