
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<AuthorizeView>
    <Authorized>
        <div class="Welcome_board">
            <h1>Welcome! , @context.User.Identity?.Name .</h1>
        </div>
        <div class="Tips">
            <div><p>What do next?</p></div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="Welcome_board">
            <h1>Welcome here.</h1>
            <p>To access full services of this app,please <a href="authentication/login">log in</a></p>
        </div>
        <div class="Tips">
            <div><p>What can do if log in?</p></div>
        </div>
    </NotAuthorized>
</AuthorizeView>