:root{
    --main-color:#4F81BD;
    --sub-color:#6CE5E8;
    --base-color:#6C6F84;
    --font-color:#fffffe;
    --accent-color:#f9bc60;
}

.btn {
    display: inline-block;
    padding: 0.1em 1em;
    text-decoration: none;
    color: var(--base-color);
    border: solid 2px var(--base-color);
    border-radius: 3px;
    transition: .4s;
    margin-bottom: .2rem;
  }
  
  .btn:hover {
    background: var(--base-color);
    color: var(--font-color);
    border: solid 2px var(--base-color);
  }

  body,html{
    position: absolute;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }