@page "/"
@page "/editor"

@using ide.Components.FileAgent
@using ide.Components.Console

@inject IJSRuntime jsRuntime

<main>
    <FilePiker @ref="_File" />
    <div id="editor" style="height: 600px"></div>
    <article id="console">
        <div>
            <button @onclick="Runing">Run</button>
        </div>
        <VirtualConsole @ref="@console" />
    </article>
</main>


@code {
    private FilePiker _File = null!;
    private FileCapsule capsule = null!;
    private VirtualConsole console = null!;
    private int CurrentNumber = 0;
    private string[] decorationIds = new string[0];
    private IJSObjectReference module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _File.Openers.Add(ChengeEditing);
            await jsRuntime.InvokeVoidAsync("AceInit",new string[]{"editor"});
        }
    }

    public async Task<string> GetValue()
    {
        var result = await jsRuntime.InvokeAsync<string>("AceGetValue");
        Console.WriteLine(result);
        return result;
    }

    public async Task SetValue(string value)
    {
        await jsRuntime.InvokeVoidAsync("AceSetValue",new string[]{value});
    }

    public async Task Runing()
    {
        console.Script = await GetValue();
        await console.Running();
    }

    public async Task ChengeEditing(int index)
    {
        var context = await GetValue();
        lock (FileAgent.LockObjects[CurrentNumber])
        {
            FileAgent.capsules[CurrentNumber].File.SetLength(0);
            FileAgent.capsules[CurrentNumber].File.Write(
                FileAgent.capsules[CurrentNumber].Encoding.GetBytes(context)
            );
        }
        CurrentNumber = index;
        var content = new byte[FileAgent.capsules[CurrentNumber].File.Length];
        lock (FileAgent.LockObjects[CurrentNumber])
        {
            FileAgent.capsules[CurrentNumber].File.Read(content,0,content.Length);
        }
        await SetValue(FileAgent.capsules[CurrentNumber].Encoding.GetString(content));
        StateHasChanged();
    }

}