@page "/ide"
<section>
    <article class="filetitle">
        @title
    </article>
    <article>
        <div>
            <button><img  src="" alt="Upload"/></button>
            <button><img  src="" alt="Save"/></button>
            <button><img  src="" alt="Save All"/></button>
            <button><img  src="" alt="Download"/></button>
            <button><img  src="" alt="Download All"/></button
        </div>
        <div>
            <button><img  src="" alt="Run"/><p>Debug</p></button>
        </div>
    </article>
    <article>
        <button>Login</button>
    </article>
</section>
@code {
    public string title = "";
}
