html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    position: relative;
}
/* Height / width / positioning can be customized for your use case.
            For demo purposes, we make firepad fill the entire browser. */
#editor {
    width: 100%;
    height: calc(100% - 4rem);
}

header{
    height :4rem;
    margin:0;
    padding:0;
    text-align:center;
}

#prompt{
    z-index:1000;
}

.debug_comand {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
    font-size: .7rem;
    overflow: hidden;
    color: #fff;
    border-radius: 0;
    background: #000;
}

.debug_comands span {
    position: relative;
}

.debug_comands:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-80%) translateY(-25px);
    transform: translateX(-80%) translateY(-25px);
    border-radius: 50%;
    background: #094;
}

.debug_comands:hover:before {
    width: 400px;
    height: 400px;
    -webkit-transform: translateX(-1%) translateY(-175px);
    transform: translateX(-1%) translateY(-175px);
}