@page "/Debug/console"
@using Ide.components
@using Ide.script
@inject IJSRuntime ijsruntime
<h3>Debug</h3>
<button @onclick="Test">Run</button><br />
<input type="text" @bind-value="tmp"/>
<button @onclick="Set">Set!</button>
@code {
    private string tmp = "";
    void Test()
    {
        var engine = new Engine();
        engine.Test(ijsruntime);
    }
    void Set()
    {
        Debug_class.SetCmd(tmp);
    }
}
